.inputscreen {
      width: 82%;
	 border: 2px groove red;
  border-radius: 3px;
      text-align: center;
	text-shadow: 1px 1px;
	letter-spacing: 3px;
      padding:10px 20px;
      
      font-size: 14px;
	color: rgba(226,172,56,0.6);
	background-color: lightgrey;
    }

    .calc-keys {
      display: grid;
	grid-template-columns: repeat(6, 1fr);
      grid-gap: 20px;
      padding: 20px;
    }
